
h1 {
    color: red;
    background-color: black;
 } 
 
  .test{
    color: white;
    background-color: gray;
 }
 
 .different{
    text-transform: uppercase;
 } 
  h2{
    font-size: 40px;
    text-align: center;
    text-shadow: 2px 2px 2px red,
                 4px 4px 4px blue,
                 -6px -6px 6px green;
 
    font-family: 'Open Sans', sans-serif;
 }
 h1{
    color: orange;
    background-color:black;
    font-size: 50px;
 }
 
 
 p{
    width: 80%;
    color: white
    background-color: blue;
    text-align: justify;
    text-align-last: justify;
    text-decoration: underline;
    text-transform: capitalize;
    text-indent: 200px;
    letter-spacing: 2px;
    word-spacing: 10px;
    line-height: 1.5;
 }
 a{
    text-decoration: underline;
 } 